$background-color-body: #ECF0F1;
$background-color-body-white: #fff;
$navbar-background-color-1: #5bbc2e;
$navbar-background-color-2: #fff;
$navbar-border-color: #e0e0e0;
$navbar-text-color: #7d7d7d;


//$font-family-page: 'Source Sans Pro',sans-serif;